*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
!/.idea/
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/vcs.xml
/.idea/caches/
/.idea/.gitignore
/app/.idea/caches/build_file_checksums.ser
/app/.idea/caches/gradle_models.ser
/app/.idea/libraries/Gradle____local_aars___D__Android_workSpace_smart_BeijingGreenSpace_app_libs_afinal_0_5_1_bin_jar_unspecified_jar.xml
/app/.idea/libraries/Gradle____local_aars___D__Android_workSpace_smart_BeijingGreenSpace_app_libs_BaiduLBS_Android_jar_unspecified_jar.xml
/app/.idea/libraries/Gradle____local_aars___D__Android_workSpace_smart_BeijingGreenSpace_app_libs_commons_net_3_3_jar_unspecified_jar.xml
/app/.idea/libraries/Gradle____local_aars___D__Android_workSpace_smart_BeijingGreenSpace_app_libs_GQTSDK_1_0_1_16_Standard_jar_unspecified_jar.xml
/app/.idea/libraries/Gradle____local_aars___D__Android_workSpace_smart_BeijingGreenSpace_app_libs_gson_2_1_jar_unspecified_jar.xml
/app/.idea/libraries/Gradle____local_aars___D__Android_workSpace_smart_BeijingGreenSpace_app_libs_ksoap2_android_assembly_3_3_0_jar_with_dependencies_jar_unspecified_jar.xml
/app/.idea/libraries/Gradle____local_aars___D__Android_workSpace_smart_BeijingGreenSpace_app_libs_ormlite_android_4_49_SNAPSHOT_jar_unspecified_jar.xml
/app/.idea/libraries/Gradle____local_aars___D__Android_workSpace_smart_BeijingGreenSpace_app_libs_ormlite_core_4_49_SNAPSHOT_jar_unspecified_jar.xml
/app/.idea/libraries/Gradle____local_aars___D__Android_workSpace_smart_BeijingGreenSpace_app_libs_umeng_share_core_6_9_4_jar_unspecified_jar.xml
/app/.idea/libraries/Gradle____local_aars___D__Android_workSpace_smart_BeijingGreenSpace_app_libs_umeng_share_QQ_simplify_6_9_4_jar_unspecified_jar.xml
/app/.idea/libraries/Gradle____local_aars___D__Android_workSpace_smart_BeijingGreenSpace_app_libs_umeng_share_sina_simplify_6_9_4_jar_unspecified_jar.xml
/app/.idea/libraries/Gradle____local_aars___D__Android_workSpace_smart_BeijingGreenSpace_app_libs_umeng_share_wechat_simplify_6_9_4_jar_unspecified_jar.xml
/app/.idea/libraries/Gradle____local_aars___D__Android_workSpace_smart_BeijingGreenSpace_app_libs_umeng_shareboard_widget_6_9_4_jar_unspecified_jar.xml
/app/.idea/libraries/Gradle____local_aars___D__Android_workSpace_smart_BeijingGreenSpace_app_libs_umeng_sharetool_6_9_4_jar_unspecified_jar.xml
/app/.idea/libraries/Gradle__android_arch_core_common_1_0_0_jar.xml
/app/.idea/libraries/Gradle__android_arch_lifecycle_common_1_0_0_jar.xml
/app/.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_0_0_aar.xml
/app/.idea/libraries/Gradle__cn_bingoogolapple_bga_qrcodecore_1_1_8_aar.xml
/app/.idea/libraries/Gradle__cn_bingoogolapple_bga_zxing_1_1_8_aar.xml
/app/.idea/libraries/Gradle__com_android_support_animated_vector_drawable_26_1_0_aar.xml
/app/.idea/libraries/Gradle__com_android_support_appcompat_v7_26_1_0_aar.xml
/app/.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_1_1_0_aar.xml
/app/.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_solver_1_1_0_jar.xml
/app/.idea/libraries/Gradle__com_android_support_design_26_1_0_aar.xml
/app/.idea/libraries/Gradle__com_android_support_multidex_1_0_2_aar.xml
/app/.idea/libraries/Gradle__com_android_support_multidex_instrumentation_1_0_2_aar.xml
/app/.idea/libraries/Gradle__com_android_support_recyclerview_v7_26_1_0_aar.xml
/app/.idea/libraries/Gradle__com_android_support_support_annotations_26_0_2_jar.xml
/app/.idea/libraries/Gradle__com_android_support_support_annotations_26_1_0_jar.xml
/app/.idea/libraries/Gradle__com_android_support_support_annotations_27_1_1_jar.xml
/app/.idea/libraries/Gradle__com_android_support_support_compat_26_0_2_aar.xml
/app/.idea/libraries/Gradle__com_android_support_support_compat_26_1_0_aar.xml
/app/.idea/libraries/Gradle__com_android_support_support_core_ui_26_0_2_aar.xml
/app/.idea/libraries/Gradle__com_android_support_support_core_ui_26_1_0_aar.xml
/app/.idea/libraries/Gradle__com_android_support_support_core_utils_26_0_2_aar.xml
/app/.idea/libraries/Gradle__com_android_support_support_core_utils_26_1_0_aar.xml
/app/.idea/libraries/Gradle__com_android_support_support_fragment_26_0_2_aar.xml
/app/.idea/libraries/Gradle__com_android_support_support_fragment_26_1_0_aar.xml
/app/.idea/libraries/Gradle__com_android_support_support_media_compat_26_0_2_aar.xml
/app/.idea/libraries/Gradle__com_android_support_support_media_compat_26_1_0_aar.xml
/app/.idea/libraries/Gradle__com_android_support_support_v4_26_0_2_aar.xml
/app/.idea/libraries/Gradle__com_android_support_support_v4_26_1_0_aar.xml
/app/.idea/libraries/Gradle__com_android_support_support_vector_drawable_26_1_0_aar.xml
/app/.idea/libraries/Gradle__com_android_support_test_espresso_espresso_core_3_0_2_aar.xml
/app/.idea/libraries/Gradle__com_android_support_test_espresso_espresso_idling_resource_3_0_2_aar.xml
/app/.idea/libraries/Gradle__com_android_support_test_monitor_1_0_2_aar.xml
/app/.idea/libraries/Gradle__com_android_support_test_runner_1_0_2_aar.xml
/app/.idea/libraries/Gradle__com_android_support_transition_26_1_0_aar.xml
/app/.idea/libraries/Gradle__com_dsiner_lib_slidelayout_1_0_3_aar.xml
/app/.idea/libraries/Gradle__com_dsiner_lib_xrv_1_1_2_aar.xml
/app/.idea/libraries/Gradle__com_github_bumptech_glide_glide_3_5_2_jar.xml
/app/.idea/libraries/Gradle__com_google_code_findbugs_jsr305_2_0_1_jar.xml
/app/.idea/libraries/Gradle__com_google_zxing_core_3_3_0_jar.xml
/app/.idea/libraries/Gradle__com_jakewharton_butterknife_8_5_1_aar.xml
/app/.idea/libraries/Gradle__com_jakewharton_butterknife_annotations_8_5_1_jar.xml
/app/.idea/libraries/Gradle__com_lovedise_permissiongen_0_0_6_aar.xml
/app/.idea/libraries/Gradle__com_qiniu_qiniu_android_sdk_7_3_15_jar.xml
/app/.idea/libraries/Gradle__com_qiniu_qiniu_java_sdk_7_2_28_jar.xml
/app/.idea/libraries/Gradle__com_scwang_smartrefresh_SmartRefreshHeader_1_0_5_1_aar.xml
/app/.idea/libraries/Gradle__com_scwang_smartrefresh_SmartRefreshLayout_1_0_5_1_aar.xml
/app/.idea/libraries/Gradle__com_shizhefei_ViewPagerIndicator_1_1_6_aar.xml
/app/.idea/libraries/Gradle__com_squareup_haha_haha_2_0_4_jar.xml
/app/.idea/libraries/Gradle__com_squareup_javawriter_2_1_1_jar.xml
/app/.idea/libraries/Gradle__com_squareup_leakcanary_leakcanary_analyzer_1_6_1_aar.xml
/app/.idea/libraries/Gradle__com_squareup_leakcanary_leakcanary_android_1_6_1_aar.xml
/app/.idea/libraries/Gradle__com_squareup_leakcanary_leakcanary_watcher_1_6_1_jar.xml
/app/.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_3_14_4_jar.xml
/app/.idea/libraries/Gradle__com_squareup_okio_okio_1_17_2_jar.xml
/app/.idea/libraries/Gradle__com_umeng_sdk_common_1_5_3_jar.xml
/app/.idea/libraries/Gradle__com_umeng_sdk_push_4_2_0_aar.xml
/app/.idea/libraries/Gradle__com_umeng_sdk_utdid_1_1_5_3_jar.xml
/app/.idea/libraries/Gradle__com_wuxiaolong_pullloadmorerecyclerview_library_1_1_2_aar.xml
/app/.idea/libraries/Gradle__com_youth_banner_banner_1_4_10_aar.xml
/app/.idea/libraries/Gradle__com_zhy_okhttputils_2_6_2_aar.xml
/app/.idea/libraries/Gradle__javax_inject_javax_inject_1_jar.xml
/app/.idea/libraries/Gradle__junit_junit_4_12_jar.xml
/app/.idea/libraries/Gradle__net_sf_kxml_kxml2_2_3_0_jar.xml
/app/.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3_jar.xml
/app/.idea/libraries/Gradle__org_hamcrest_hamcrest_integration_1_3_jar.xml
/app/.idea/libraries/Gradle__org_hamcrest_hamcrest_library_1_3_jar.xml
/app/.idea/libraries/Gradle__org_jetbrains_trove4j_trove4j_20160824_jar.xml
/app/.idea/libraries/Gradle__top_zibin_Luban_1_1_8_aar.xml
/app/.idea/.name
/app/.idea/encodings.xml
/app/.idea/gradle.xml
/app/.idea/misc.xml
/app/.idea/modules.xml
/app/.idea/runConfigurations.xml
/app/.idea/workspace.xml
/formlib/src/androidTest/java/com/hollysmart/formlib/ExampleInstrumentedTest.java
/formlib/src/main/java/com/hollysmart/formlib/BiaoGeRecyclerAdapter2.java
/formlib/src/main/res/values/strings.xml
/formlib/src/main/AndroidManifest.xml
/formlib/src/test/java/com/hollysmart/formlib/ExampleUnitTest.java
/formlib/.gitignore
/formlib/build.gradle
/formlib/proguard-rules.pro
/library/Common/build/.transforms/3ee5c8edcf20ae2d8b684b21b94bf5e9/classes/classes.dex
/library/Common/build/.transforms/3ee5c8edcf20ae2d8b684b21b94bf5e9.bin
/library/Common/build/generated/source/buildConfig/debug/cn/qqtheme/framework/BuildConfig.java
/library/Common/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/AndroidManifest.xml
/library/Common/build/intermediates/aapt_friendly_merged_manifests/debug/aapt/output.json
/library/Common/build/intermediates/annotation_processor_list/debug/annotationProcessors.json
/library/Common/build/intermediates/compile_library_classes_jar/debug/classes.jar
/library/Common/build/intermediates/compile_only_not_namespaced_r_class_jar/debug/R.jar
/library/Common/build/intermediates/compile_symbol_list/debug/R.txt
/library/Common/build/intermediates/incremental/debug-mergeNativeLibs/merge-state
/library/Common/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
/library/Common/build/intermediates/incremental/mergeDebugShaders/merger.xml
/library/Common/build/intermediates/incremental/packageDebugAssets/merger.xml
/library/Common/build/intermediates/incremental/packageDebugResources/merged.dir/values/values.xml
/library/Common/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
/library/Common/build/intermediates/incremental/packageDebugResources/merger.xml
/library/Common/build/intermediates/javac/debug/classes/cn/qqtheme/framework/popup/BottomPopup.class
/library/Common/build/intermediates/javac/debug/classes/cn/qqtheme/framework/popup/ConfirmPopup$1.class
/library/Common/build/intermediates/javac/debug/classes/cn/qqtheme/framework/popup/ConfirmPopup$2.class
/library/Common/build/intermediates/javac/debug/classes/cn/qqtheme/framework/popup/ConfirmPopup.class
/library/Common/build/intermediates/javac/debug/classes/cn/qqtheme/framework/popup/Popup.class
/library/Common/build/intermediates/javac/debug/classes/cn/qqtheme/framework/util/CompatUtils.class
/library/Common/build/intermediates/javac/debug/classes/cn/qqtheme/framework/util/ConvertUtils.class
/library/Common/build/intermediates/javac/debug/classes/cn/qqtheme/framework/util/DateUtils$DifferenceMode.class
/library/Common/build/intermediates/javac/debug/classes/cn/qqtheme/framework/util/DateUtils.class
/library/Common/build/intermediates/javac/debug/classes/cn/qqtheme/framework/util/LogUtils.class
/library/Common/build/intermediates/javac/debug/classes/cn/qqtheme/framework/util/ScreenUtils.class
/library/Common/build/intermediates/javac/debug/classes/cn/qqtheme/framework/AppConfig.class
/library/Common/build/intermediates/javac/debug/classes/cn/qqtheme/framework/BuildConfig.class
/library/Common/build/intermediates/library_manifest/debug/AndroidManifest.xml
/library/Common/build/intermediates/local_only_symbol_list/debug/R-def.txt
/library/Common/build/intermediates/manifest_merge_blame_file/debug/manifest-merger-blame-debug-report.txt
/library/Common/build/intermediates/merged_manifests/debug/output.json
/library/Common/build/intermediates/navigation_json/debug/navigation.json
/library/Common/build/intermediates/packaged_res/debug/values/values.xml
/library/Common/build/intermediates/runtime_library_classes_jar/debug/classes.jar
/library/Common/build/intermediates/symbol_list_with_package_name/debug/package-aware-r.txt
/library/Common/build/outputs/logs/manifest-merger-debug-report.txt
/library/Common/build/tmp/compileDebugJavaWithJavac/source-classes-mapping.txt
/library/Common/build/.transforms/a58346fbd2888bb930e7872b21b8d0b9/classes/classes.dex
/library/Common/build/.transforms/a58346fbd2888bb930e7872b21b8d0b9.bin
/library/Common/build/generated/source/buildConfig/release/cn/qqtheme/framework/BuildConfig.java
/library/Common/build/intermediates/aapt_friendly_merged_manifests/release/aapt/AndroidManifest.xml
/library/Common/build/intermediates/aapt_friendly_merged_manifests/release/aapt/output.json
/library/Common/build/intermediates/annotation_processor_list/release/annotationProcessors.json
/library/Common/build/intermediates/compile_library_classes_jar/release/classes.jar
/library/Common/build/intermediates/compile_only_not_namespaced_r_class_jar/release/R.jar
/library/Common/build/intermediates/compile_symbol_list/release/R.txt
/library/Common/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml
/library/Common/build/intermediates/incremental/mergeReleaseShaders/merger.xml
/library/Common/build/intermediates/incremental/packageReleaseAssets/merger.xml
/library/Common/build/intermediates/incremental/packageReleaseResources/merged.dir/values/values.xml
/library/Common/build/intermediates/incremental/packageReleaseResources/compile-file-map.properties
/library/Common/build/intermediates/incremental/packageReleaseResources/merger.xml
/library/Common/build/intermediates/incremental/release-mergeNativeLibs/merge-state
/library/Common/build/intermediates/javac/release/classes/cn/qqtheme/framework/popup/BottomPopup.class
/library/Common/build/intermediates/javac/release/classes/cn/qqtheme/framework/popup/ConfirmPopup$1.class
/library/Common/build/intermediates/javac/release/classes/cn/qqtheme/framework/popup/ConfirmPopup$2.class
/library/Common/build/intermediates/javac/release/classes/cn/qqtheme/framework/popup/ConfirmPopup.class
/library/Common/build/intermediates/javac/release/classes/cn/qqtheme/framework/popup/Popup.class
/library/Common/build/intermediates/javac/release/classes/cn/qqtheme/framework/util/CompatUtils.class
/library/Common/build/intermediates/javac/release/classes/cn/qqtheme/framework/util/ConvertUtils.class
/library/Common/build/intermediates/javac/release/classes/cn/qqtheme/framework/util/DateUtils$DifferenceMode.class
/library/Common/build/intermediates/javac/release/classes/cn/qqtheme/framework/util/DateUtils.class
/library/Common/build/intermediates/javac/release/classes/cn/qqtheme/framework/util/LogUtils.class
/library/Common/build/intermediates/javac/release/classes/cn/qqtheme/framework/util/ScreenUtils.class
/library/Common/build/intermediates/javac/release/classes/cn/qqtheme/framework/AppConfig.class
/library/Common/build/intermediates/javac/release/classes/cn/qqtheme/framework/BuildConfig.class
/library/Common/build/intermediates/library_manifest/release/AndroidManifest.xml
/library/Common/build/intermediates/local_only_symbol_list/release/R-def.txt
/library/Common/build/intermediates/manifest_merge_blame_file/release/manifest-merger-blame-release-report.txt
/library/Common/build/intermediates/merged_manifests/release/output.json
/library/Common/build/intermediates/navigation_json/release/navigation.json
/library/Common/build/intermediates/packaged_res/release/values/values.xml
/library/Common/build/intermediates/runtime_library_classes_jar/release/classes.jar
/library/Common/build/intermediates/symbol_list_with_package_name/release/package-aware-r.txt
/library/Common/build/outputs/logs/manifest-merger-release-report.txt
/library/Common/build/tmp/compileReleaseJavaWithJavac/source-classes-mapping.txt
/library/Common/build/.transforms/cb5b316205387e86a116272330cadb46/classes/classes.dex
/library/Common/build/.transforms/cb5b316205387e86a116272330cadb46.bin
